<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Applied Internships</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
</head>

<body>
    <!--create a ejs file for applied internships-->
    <header>
        <h1>Applied Internships</h1>
    </header>
    <section>
        <h2>Internship Details</h2>
        <ul class="internship -details-container">
            <% internships.forEach((internship) => { %>
            <li class="internship-details">
                <strong style="font-size: 100px"> <%= internship.Title %> </strong><br />
                <p>
                    <strong>Description:</strong>
                    <%= internship.Description %>
                </p>
                <p>
                    <strong>Location:</strong>
                    <%= internship.Location %>
                </p>
                <p>
                    <strong>Start Date:</strong>
                    <%= internship.StartDate %>
                </p>
                <p>
                    <strong>End Date:</strong>
                    <%= internship.EndDate %>
                </p>
            </li>
            <% }); %>
        </ul>
    </section>
    <footer class="fs-4">
        <p>&copy; <%= year %> <%= title %>. All rights reserved.</p>
      </footer>
</body>

</html>